.header {
    padding-bottom: 41px;
    border-bottom: 1px solid #545454; 
    opacity: 70%;
}

.header__image {
    margin-top: 45px;
}

@media screen and (max-width:620px) {
    .header__image {
        margin-left: 27px;
        max-width: 126px;
        height: 24px;
        }        
    .header {
            margin-left: 27px;
            margin-top: 28px;
        }
    }